node_modules/

# Playwright reports
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# System files
.env
.DS_Store

# Debug files
card-debug.html
details-debug.html

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/